footer {
    background: rgb(240, 238, 238);
    width: 85%;
    margin: 0 auto 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    @media screen and (max-width: 900px) {
            display: block;
        }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;

        label {
            @include title;
            font-size: 0.7rem;
            color: grey;
            margin-bottom: 20px;
        }
        input[type="text"], textarea {
            background: none;
            border: 1px solid grey;
            border-radius: 4px;
            height: 50px;
            width: 80%;
            margin-bottom: 40px;
            resize: none;
           
        }
        textarea {
           height: 100px;
        }
        .btn {
            color: grey;
            border: 1px solid grey;
        }
    } 
    
    .infos-contact {
       border-left: 1px solid rgb(221, 217, 217);
       display: grid;
       grid-template-rows: repeat(4, 1fr);

    @media screen and (max-width: 900px){
        border-left: none;
        border-top: 1px solid rgb(221, 217, 217);
        margin-top: 30px;
    }

       div {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        h3 {
            @include title;
            font-size: 0.7rem;
            padding-left:40px;
            text-align: left;
            color: grey;
        }
        p {
            font-size: 0.8rem;
            line-height: 26px;
            color: grey;
        }
       }
       .social {
        ul {
            display: flex;
            margin-left: 50px;
        }
        li {
            border: 1px solid grey;
            border-radius: 50%;
            height: 40px;
            width:40px;
            font-size: 0.9rem;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       }
    }
}