* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../assets/images/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: merriweather, serif;
  max-width: 1300px;
  margin: 0 auto;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

a, a:visited {
  color: white;
}

.btn {
  background: none;
  border: 2px solid rgb(84, 81, 81);
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn:hover {
  transform: scale(1.05);
}

header {
  color: white;
  position: relative;
  min-height: 100vh;
}
header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header .header-content h1 {
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
}
header .header-content p {
  margin: 40px auto 60px;
  font-style: italic;
  width: 85%;
}
header .header-content span {
  border: 2px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.244);
  position: absolute;
  color: white;
  width: 85%;
  height: 65px;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav .nav-left:hover li:not(:hover) {
  background: none;
  color: white;
}
header nav .nav-left li {
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 15px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav .nav-left li:first-child {
  background: white;
  color: black;
}
header nav .nav-left li:hover {
  background: white;
  color: black;
}
header nav .nav-right {
  font-size: 1.1rem;
  min-width: 100px;
  width: 24%;
  max-width: 300px;
  justify-content: space-around;
  margin: 10px;
}
header nav .nav-right li {
  transition: 0.15s;
  cursor: pointer;
}
header nav .nav-right li:hover {
  transform: scale(1.5);
}

main {
  width: 85%;
  margin: 0 auto 30px;
  background: white;
}
main img {
  width: 100%;
}
main .section1 {
  width: 80%;
  margin: 0 auto;
}
main .section1 span {
  padding: 70px 0;
  position: relative;
  display: block;
}
main .section1 span:before, main .section1 span:after {
  content: " ";
  position: absolute;
  width: 37%;
  height: 1px;
  background: grey;
  top: 50%;
}
@media screen and (max-width: 700px) {
  main .section1 span:before, main .section1 span:after {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  main .section1 span:before, main .section1 span:after {
    width: 25%;
  }
}
main .section1 span:before {
  left: 0;
}
main .section1 span:after {
  right: 0;
}
main .section1 h2 {
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2.5rem;
}
main .section1 p {
  width: 60%;
  margin: 30px auto;
  line-height: 35px;
  font-style: italic;
  font-size: 0.8rem;
}
main .section1 .btn {
  margin: 50px 0 90px;
}/*# sourceMappingURL=index.css.map */